<html>
    <head>
        <title>
            pet hub RS
        </title>
        <body>
            <div style="padding-left: 100px; padding-top: 20px;">
                <h1>Pet Hub RS</h1>
                <div style="padding-bottom: 10px; min-width: 150px;">
                    <form action="/" method="POST">
                        Email:<input type="text" name="email"><br>
                        Password:<input type="password" name="password"><br>
                        <input type="submit">
                    </form>
                     
                 </div>
                <button>criar conta</button>
            </div>
            <script src="jquery.js"></script>
        </body>
    </head>
</html>